<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="bg-dark text-white mt-5 py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Forza Restaurant</h4>
                    <p>1115 V St NW<br>Washington, DC 20001</p>
                </div>
                <div class="col-md-6 text-md-right">
                    <h4>Hours</h4>
                    <p>Monday-Friday: 11am-10pm<br>
                    Saturday-Sunday: 10am-11pm</p>
                </div>
            </div>
            <div class="text-center mt-3">
                <p>&copy; 2025 Forza Restaurant. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>
